.navbar{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #01147C;
    margin-bottom: 10px;
   
}

#image{
    width: 70px;
    background-color: white;
    color: white;
}
p{
    color: white;

}
.div1{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: white;

}
#appendCont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

